## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on data structure known as hash table

In [2]:
## Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [17]:
set_var={1,2,3,4,3}

In [18]:
set_var

{1, 2, 3, 4}

In [24]:
set_var = {"Avengers","Ironman",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Ironman', 'Avengers'}

set

In [25]:
## Inbuilt function in sets

set_var.add("Hulk")

In [26]:
print(set_var)

{'Hulk', 'Hitman', 'Ironman', 'Avengers'}

In [54]:
set1={"Avengers","Ironman","Hitman"}
set2={"Hulk2","Avengers","Ironman","Hitman"}

In [55]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [56]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [57]:
set2.intersection_update(set1)

In [58]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [59]:
set2 = {"Hulk2","Avengers","Ironman","Hitman"}

In [60]:
## Difference
set2.difference(set1)

{'Hulk2'}

In [61]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [62]:
## Difference update

set2.difference_update(set1)

In [63]:
print(set2)

{'Hulk2'}

### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [1]:
dic={}

In [2]:
type(dic)

dict

In [7]:
type(dict()) #inbuilt function dict - it is an empty dictionary

dict

In [8]:
dic={1,2,3,4,5}

In [9]:
type(dic)

set

In [21]:
# Lets create a dictionary

my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercidies Benz"}

In [22]:
type(my_dict)

dict

In [23]:
# Access the item values based on keys

my_dict['Car1']

'Audi'

In [24]:
# we can even loop throught the dictionary keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [25]:
# we can even loop throught the dictionary values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [26]:
# we can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [27]:
# Adding items in Dictionaries

my_dict['Car4']='Audi 2.0'

In [28]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [29]:
my_dict['Car1']='Maruti'

In [30]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

### Nested Dictionary

In [31]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador':1980}

car_type={'car1': car1_model, 'car2': car2_model, 'car3': car3_model}

In [32]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [33]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [34]:
print(car_type['car1']['Mercedes'])

1960

### Tuples

Once you defined the tuple you cannot change the tuple, elements can also not get replaced. The complete tuple can get changed but single the elements cannot get replaced.

In [41]:
## create an empty Tuples

my_tuple=tuple()

In [42]:
 type(my_tuple)

tuple

In [43]:
my_tuple=("John","Smith","Aashu")

In [44]:
my_tuple[0]

'John'

In [46]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('John', 'Smith', 'Aashu')

In [51]:
my_tuple=('Hello','World','World')

In [52]:
my_tuple

('Hello', 'World', 'World')

In [53]:
type(my_tuple)

tuple

In [54]:
# Inbuilt function 
my_tuple.count('World')

2

In [55]:
my_tuple.index('Hello')

0