## Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

In [1]:
type(False)

bool

In [4]:
type(True)

bool

In [8]:
my_str = "Shristi Jalan"

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char inn the string are alphabetic
print(my_str.isdigit()) #check if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.endswith('n')) #test if string endswith n
print(my_str.startswith('S')) #test if string startswith S

False
False
False
True
False
False
True
True

## Boolean and Logical Operators

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
True or False

True

In [12]:
True or True

True

In [22]:
str_example='Hello World'
my_str="Shristi"

In [24]:
my_str.isalpha() or str_example.isnum()

True

#### Lists

A list is a data structure in Python is a mutable, or changeable, ordered sequence or elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[]

In [25]:
lst_example=[]

In [26]:
type(lst_example)

list

In [27]:
lst = list()

In [28]:
type(lst)

list

In [29]:
lst = ['Mathematics', 'chemistry', 100,200,300,205]

In [30]:
len(lst)

6

### Append

In [31]:
# .append is used to add elements in the list
lst.append("Shristi")

In [38]:
lst.append(["John","Bala"]) # creating a nested list

In [39]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 205, 'Shristi', ['John', 'Bala']]

In [34]:
## Indexing in list
lst[6]

'Shristi'

In [35]:
lst[:]

['Mathematics', 'chemistry', 100, 200, 300, 205, 'Shristi']

In [36]:
lst[1:]

['chemistry', 100, 200, 300, 205, 'Shristi']

In [37]:
lst[1:6]

['chemistry', 100, 200, 300, 205]

### Insert

In [41]:
## inser in a specific order

lst.insert(2, "Jalan")

In [42]:
lst

['Mathematics',
 'chemistry',
 'Jalan',
 100,
 200,
 300,
 205,
 'Shristi',
 ['John', 'Bala']]

In [45]:
lst.append(["Hello", "World"])

In [46]:
lst

['Mathematics',
 'chemistry',
 'Jalan',
 100,
 200,
 300,
 205,
 'Shristi',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [47]:
lst=[1,2,3]

In [48]:
lst.append([4,5])

In [49]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [50]:
lst=[1,2,3,4,5,6]

In [52]:
lst.extend([8,9])

In [53]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [71]:
lst = [1,2,3,4,5]

In [72]:
sum(lst)

15

In [101]:
lst*2
## the whle list will appended again

[1, 1, 1, 3, 4, 4, 4, 5, 1, 1, 1, 3, 4, 4, 4, 5]

### Pop() Method

In [73]:
lst.pop()

5

In [74]:
lst

[1, 2, 3, 4]

In [75]:
lst.pop(0)

1

In [76]:
lst

[2, 3, 4]

### count(): Calculates total occurrence of given element of List

In [93]:
lst=[1,1,1,3,4,4,4,5]
lst.count(1) ## there are two elements present of this value 1

3

In [94]:
lst.count(4)

3

In [95]:
#length: Calculates total length of List
len(lst)

8

In [96]:
# index(): Returns the index of first occurence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [88]:
lst.index(1,1,4)

1

In [97]:
lst.index?

Signature: lst.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [98]:
min(lst)

1

In [99]:
max(lst)

5