## Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

#### Agenda

- What is Data Frames ?
  It is a combination of both rows and columns and it will basically show you a     representation format where in how yor data exactly looks like in the excel sheet in the same way it will be loaded
- What is Data Series ?
- Different operation in Pandas

In [2]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [3]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19