## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on data structure known as hash table

In [2]:
## Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [17]:
set_var={1,2,3,4,3}

In [18]:
set_var

{1, 2, 3, 4}

In [24]:
set_var = {"Avengers","Ironman",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Ironman', 'Avengers'}

set

In [25]:
## Inbuilt function in sets

set_var.add("Hulk")

In [26]:
print(set_var)

{'Hulk', 'Hitman', 'Ironman', 'Avengers'}

In [54]:
set1={"Avengers","Ironman","Hitman"}
set2={"Hulk2","Avengers","Ironman","Hitman"}

In [55]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [56]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [57]:
set2.intersection_update(set1)

In [58]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [59]:
set2 = {"Hulk2","Avengers","Ironman","Hitman"}

In [60]:
## Difference
set2.difference(set1)

{'Hulk2'}

In [61]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [62]:
## Difference update

set2.difference_update(set1)

In [63]:
print(set2)

{'Hulk2'}

### Dictionaries

A dictionary is a collection which is